<ul>
  <li *ngFor="let pokemon of pokemonList; index as i">
      <a [routerLink]="['/pokemon', i+1]">
        {{ pokemon.name }}
        <!-- <app-pokemon-list-item [pokemon]="pokemon"></app-pokemon-list-item> -->
      </a>
  </li>
</ul>