<div class="app-container">

  <div class="app-box app-item-1"></div>

  <div class="app-box app-item-2"></div>

  <div class="app-box app-item-3"></div>

  <div class="app-box app-item-4"></div>

  <!-- ----------------------------- -->
  <div class="app-box app-item-1"></div>

  <div class="app-box app-item-2"></div>

  <div class="app-box app-item-3"></div>

  <div class="app-box app-item-4"></div>

  <!-- ----------------------------- -->
  <div class="app-box app-item-1"></div>

  <div class="app-box app-item-2"></div>

  <div class="app-box app-item-3"></div>

  <div class="app-box app-item-4"></div>

</div>