@import "../../../styles/variables";

.app-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 250px);  //qtd de colunas com seu tamanho
    grid-template-rows: repeat(3, 200px);  // qtd de linhas com seu tamanho
    grid-column-gap: 15px;  // espaço entre colunas | "grid-gap: 20px" para coluna e linha juntos
    grid-row-gap: 25px;  // espaço entre linhas
    justify-content: center;
    
    .app-box {
        border-radius: 10px;
    }

    .app-item-1 {
        background-color: blue;
    }
    
    .app-item-2 {
        background-color: brown;
    }
    
    .app-item-3 {
        background-color: green;
    }
    
    .app-item-4 {
        background-color: purple;
    }
}