<nav class="app-navbar navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">

        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/home">Home</a>
        </li>

        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/pokemon/list">Lista de pokemóns</a>
        </li>
        
      </ul>
      
      <ul class="navbar-nav" routerLinkActive="active">
        <a class="nav-link" routerLink="/contact">
          Contato
        </a>
      </ul>

    </div>
  </div>
</nav>