@import "../../../styles/variables";

footer {
    display: grid;
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: center;
    background-color: rgb(77, 77, 77);
    color: white;
    margin-top: 20px;
}